@media only screen and (max-width:767px) {
    h1, .typed_wrap h4 {
        font-size: 1.2em !important;
    }

    .m-t-80 {
        margin-top: 20px;
    }

    .flat-button {
        font-size: 1em !important;
    }

    .typed_wrap {
        margin-bottom: 2em;
    } 

    #innerBg {
    background: none;
    min-height:0px;
    }

    .loadData .leftSide {
        width: 100%;
        float: inherit;
    }

    .loadData .rightSide {
        width: 100%;
        float: inherit;
    }

    .project {
        margin-bottom: 1.5rem;
        width: 100%;
        padding: 0rem;
        border-bottom: 1px solid #a0a0a0;
        padding-bottom: 1em;
    }

    .project-details .project-tile {
        font-size: 1rem;
    }

    .project .project-image {
        height: 132px;
    }

    .bgwhite {
        padding: 1.5em;
        width: 100%;
        padding-right: 1em;
    }

    .iconBg {
        display: none
    }

    .mb-head {
        font-size: 1.5em;
        font-weight: bold;
        color: #f56461;
    }

    .bannerText {
        max-width: 400px;
        min-width: auto;
        padding: 0px 10px;
    }

    #content {
        margin: 10px auto;
        padding: 0px;
    }

    .inline p {
        width: 100% !important;
    }

    .inline {
        display: inherit;
    }

    .GFlex {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 979px) {
    .skills {
        width: 45% !important;
        margin-right: 3% !important;
        margin-bottom: 14% !important;
    }
}

@media only screen and (min-width:767px) {
    .mb-head {
        display: none
    }
}